@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif", sans-serif;
  color: #FAFAFF;
  background-color: #001021;
  line-height: 1.6;
}

header {
  background-color: #2e294e;
  padding: 1rem 0;
  text-align: center;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
header nav ul li a {
  text-decoration: none;
  color: #FAFAFF;
  font-weight: bold;
  position: relative;
  line-height: 2;
}
header nav ul li a::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #FAFAFF;
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  transition: right 0.4s, width 0.4s, left 0.4s;
}
header nav ul li a:hover::before {
  width: 100%;
  left: 0;
}

main {
  padding: 2rem;
  /* Contacto */
}
main section {
  margin-bottom: 4rem;
}
main section h2 {
  color: #6b529e;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 4px 4px 5px #2e294e;
}
main #stack .box {
  position: relative;
  border: 4px solid #2e294e;
  border-radius: 8px;
  padding: 2rem;
  margin: 2rem auto;
  width: 90%;
  box-shadow: 9px 9px 5px #6b529e, -4px -4px 8px #2e294e;
  max-width: 1200px;
  min-width: 300px;
}
main #stack .box h3 {
  position: absolute;
  top: -1rem;
  left: 1.5rem;
  background-color: #2e294e;
  padding: 0 1rem;
  color: #FAFAFF;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
}
main #stack .box .tecnologias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  padding: 0;
  margin-top: 1.5rem;
}
main #stack .box .tecnologias li {
  color: #FAFAFF;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background: linear-gradient(315deg, #6b529e, #2e294e);
  box-shadow: -4px -4px 2px #2e294e, 4px 4px 2px #6b529e;
  font-weight: bold;
  transition: 0.3s;
}
main #stack .box .tecnologias li:hover {
  background: linear-gradient(315deg, #2e294e, #6b529e);
  box-shadow: -4px -4px 2px #6b529e, 4px 4px 2px #2e294e;
}
main #proyectos .proyecto {
  position: relative;
  background-color: white;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 9px 9px 5px #6b529e, -8px -8px 8px #2e294e;
  padding: 1.5rem;
  margin-bottom: 2rem;
}
main #proyectos .proyecto h3 {
  color: #2e294e;
  margin-bottom: 0.5rem;
  font-size: 24px;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
}
main #proyectos .proyecto .preview {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  padding: 8px 16px;
  border: 3px solid #6b529e;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1em;
  font-weight: 550;
  color: #6b529e;
}
main #proyectos .proyecto .preview:hover {
  background: #6b529e;
  color: #FAFAFF;
  font-size: 1.1em;
}
main #proyectos .proyecto p {
  margin-bottom: 1rem;
  color: #696e6e;
}
main #proyectos .proyecto a {
  text-decoration: none;
}
main #proyectos .proyecto .goTo {
  color: #6b529e;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  line-height: 2;
}
main #proyectos .proyecto .goTo::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #6b529e;
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  transition: right 0.4s, width 0.4s, left 0.4s;
}
main #proyectos .proyecto .goTo:hover::before {
  width: 100%;
  left: 0;
}
main #modal-slider {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
main #modal-slider .modal-content {
  position: relative;
  margin: auto;
  top: 10%;
  padding: 20px;
  width: 80%;
  max-width: 700px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
}
main #modal-slider .modal-content .close-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgb(226, 94, 54);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
main #modal-slider .modal-content .close-slider:hover {
  background-color: rgb(226, 94, 54);
  color: #FAFAFF;
}
main #modal-slider .slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #modal-slider .slider .slides {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #modal-slider .slider .slides img {
  max-width: 100%;
  max-height: 80vh;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
}
main #modal-slider .slider button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #6b529e;
}
main #modal-slider .slider button:hover {
  color: #2e294e;
}
main #certificados .certificados-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main #certificados .certificados-list li {
  background-color: #6b529e;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: #6b529e;
  box-shadow: 9px 9px 5px #2e294e;
  font-weight: bold;
  transition: 0.3s all;
}
main #certificados .certificados-list li a {
  text-decoration: none;
  color: #FAFAFF;
}
main #certificados .certificados-list li:hover {
  background-color: #2e294e;
  box-shadow: 0px 0px 0px #6b529e;
}
main #modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
main #modal .modal-content {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  background-color: #FAFAFF;
  border-radius: 10px;
}
main #modal .modal-content img {
  width: 100%;
  border-radius: 8px;
}
main #modal .modal-content .close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgb(226, 94, 54);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
main #modal .modal-content .close:hover {
  background-color: rgb(226, 94, 54);
  color: #FAFAFF;
}
main #contacto {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Estilos para todos los contenedores sociales */
  /* Estilos hover para los íconos */
}
main #contacto .socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  border-radius: 50%;
}
main #contacto .containerOne:hover {
  background-color: #d64c29;
  transition-duration: 0.3s;
}
main #contacto .containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
main #contacto .containerThree:hover {
  background-color: #7600b1;
  transition-duration: 0.3s;
}
main #contacto .containerFour:hover {
  background-color: #128C7E;
  transition-duration: 0.3s;
}
main #contacto .socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}
main #contacto .socialSvg {
  width: 17px;
}
main #contacto .socialSvg path {
  fill: rgb(255, 255, 255);
}
main #contacto .socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

footer {
  background-color: #2e294e;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.9rem;
}

#scrollTopBtn {
  display: none;
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  z-index: 99;
  width: 42px;
  height: 42px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  border-radius: 50%;
}
#scrollTopBtn svg {
  width: 18px;
  height: 18px;
}
#scrollTopBtn svg path {
  fill: rgb(255, 255, 255);
}
#scrollTopBtn:hover {
  background-color: #6b529e;
  transition-duration: 0.3s;
}
#scrollTopBtn:hover svg {
  animation: slide-in-top 0.3s both;
}
#scrollTopBtn:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media only screen and (min-width: 1200px) {
  header nav ul {
    flex-direction: row;
  }
  #modal-slider.modal-content {
    top: -10%;
  }
}/*# sourceMappingURL=styles.css.map */