<div class="body">
  <div class="container">
    <div class="form singup">
      <h2>Sing Up</h2>
      <div class="inputBox">
        <input type="text" name="username" id="username" required>
        <i class="fa-regular fa-user"></i>
        <label for="username">username</label>
      </div>
      <div class="inputBox">
        <input type="email" name="email" id="email" required>
        <i class="fa-regular fa-envelope"></i>
        <label for="email">email address</label>
      </div>
      <div class="inputBox">
        <input type="password" name="password" id="password" required>
        <i class="fa-solid fa-lock"></i>
        <label for="password">create password</label>
      </div>
      <div class="inputBox">
        <input type="password" name="password2" id="password2" required>
        <i class="fa-solid fa-lock"></i>
        <label for="password2">confirm password</label>
      </div>
      <div class="inputBox">
        <input type="submit" value="Create Account">
      </div>
      <p>Already a member? <a routerLink="/login" class="login">Log in</a></p>
    </div>
  </div>
</div>