.body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 80px 0;

  .header{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 85%;

    h2{
      font-size: 2.5em;
      font-weight: 700;
      letter-spacing: 0.1em;
      color: var(--violet);
      text-align: center;
    }

    p{
      font-size: 1.1em;
      font-weight: 300;
      letter-spacing: 0.01em;
      line-height: 1.3em;
      opacity: .8;
    }
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;

    .card{
      position: relative;
      width: 300px;
      height: 450px;
      border-radius: 20px;
      border: 8px solid var(--violet);
      box-shadow: -5px -5px 15px rgba($color: #fff, $alpha: 0.1),
      5px 5px 15px rgba($color: #b145e9, $alpha: 1.0),
      inset -5px -5px 15px rgba($color: #fff, $alpha: 0.1),
      inset 5px 5px 15px rgba($color: #b145e9, $alpha: 1.0);

      .box{


        h3{
          color: #fff;
          font-size: 1.35em;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.12em;
          margin: 40px 0 20px;
          text-align: center;
          padding:0 20px;
        }
        

        .content{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 20px;
          // text-align: center;


          p{
            color: #fff;
            font-size: 1em;
            opacity: .75;
            margin: 20px 0;

            strong{
              opacity: 1;
              font-weight: 700;
            }
          }

          button{
            background: var(--violet);
            display: inline-block;
            padding: 10px 25px;
            margin-top: 40px;
            border: none;
            color: #333;
            text-transform: uppercase;
            font-weight: 600;
            border-radius: 30px;
            transition: .5s;

            &:hover{
              letter-spacing: 0.2em;
            }
          }
        }
      }
    }

  }
}

.container-info{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  max-width: 600px;
  height: 80vh;
  margin: auto;
  background:var(--clr);
  border-radius: 20px;
  border: 8px solid var(--violet);
  box-shadow: -5px -5px 15px rgba($color: #fff, $alpha: 0.1),
  5px 5px 15px rgba($color: #b145e9, $alpha: 1.0),
  inset -5px -5px 15px rgba($color: #fff, $alpha: 0.1),
  inset 5px 5px 15px rgba($color: #b145e9, $alpha: 1.0);
  z-index: 100;
  overflow-x: scroll;
  
  .close{
    position: relative;
    top: 20px;
    left: 10px;
    font-size: 18px;
    color: var(--orange);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    border: transparent;
    transition: .5s;
    margin-top: 30px;
    margin-left: 25px;
  }

  .info-service{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: 40px auto;

    h2{
      font-size: 2em;
      font-weight: 600;
      text-align: center;
      color: var(--violet);
    }

    h3{
      font-size: 1.5em;
      font-weight: 400;
      letter-spacing: 0.1em;
      color: var(--violet);

    }

    ul{

      li{
        font-size: 1em;
        margin-top: 10px;
        letter-spacing: 0.01em;
      }
    }
    
    p{
      font-size: 1em;
      letter-spacing: 0.01em;
    }
  }

}  


.cover{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.536);
  z-index: 90;
  display: none;
  
  &.active{
    display: block;
    overflow-y: hidden;
  }
}


@media (min-width:768px){
  .body{
    margin-left: 80px;

    .container{

      .card{
        width: 550px;
        height: auto;

        .box{
          
        }
      }
    }
  }
}