<div class="body">
    <div class="container">
        <div class="form singup">
            <h2>Contact Me</h2>
            <div class="inputBox">
                <input type="text" name="name" id="name" required>
                <i class="fa-regular fa-user"></i>
                <label for="name">name</label>
            </div>
            <div class="inputBox">
                <input type="email" name="email" id="email" required>
                <i class="fa-regular fa-envelope"></i>
                <label for="email">email address</label>
            </div>
            <div class="inputBox">
                <textarea name="message" id="message" required minlength="10" rows="1"></textarea>
                <i class="fa-regular fa-comment"></i>
                <label for="message">Message</label>
            </div>
            <div class="inputBox">
                <input type="submit" value="Send Comment">
            </div>
        </div>
    </div>
</div>