.body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 80px 0;
  
  
  .title{
    max-width: 80%;
    position: absolute;
    top: 90px;
    margin-bottom: 40px;
    font-size: 3em;
    font-weight: 700;
    color: var(--violet);
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 150px;
    
    .project {
      max-width: 350px;
      // min-height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: var(--clr);
      transition: .5s;
      border-radius: 20px;
      border: 8px solid var(--violet);
      box-shadow: -5px -5px 15px rgba($color: #fff, $alpha: 0.1),
      5px 5px 15px rgba($color: #b145e9, $alpha: 1.0),
      inset -5px -5px 15px rgba($color: #fff, $alpha: 0.1),
      inset 5px 5px 15px rgba($color: #b145e9, $alpha: 1.0);
      
      .project-image {
        width: 280px;
        margin: 20px;
      }
      
      .project-details {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        
        .project-name {
          margin-top: 10px;
          font-size: 2em;
          font-weight: 600;
          letter-spacing: 0.1em;
          color: #fff;
        }
        
        .project-description {
          font-size: 1.2em;
          color: #fff;
          letter-spacing: 0.01em;
          margin-top: 15px;
        }
      
        .project-technologies {
          font-size: 1em;
          color: rgba($color: #fff, $alpha: .75);
          margin-top: 15px;
        }
        
        a{
          margin: 20px 0;
          background: var(--violet);
          display: inline-block;
          padding: 10px 25px;
          text-decoration: none;
          color: #333;
          text-transform: uppercase;
          text-align: center;
          font-weight: 600;
          border-radius: 30px;
          transition: .5s;
          
          &:hover{
            letter-spacing: 0.2em;
          }
        }
    }
      
    }
    
  }
}

@media (min-width: 768px){
    .body{
      margin-left: 80px;

      .container{

        .project{
          max-width: 500px;
        }
      }
    }
}