<div class="body">
  <footer>
    <div class="container">
      <div class="sec about">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus repudiandae iusto earum quaerat.</p>
        <ul class="sci">
          <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a href="https://www.twitter.com/@Braian7221" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="https://www.github.com/BraianOviedo" target="_blank"><i class="fa-brands fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
        </ul>
      </div>
      <div class="sec links">
        <h2>Support</h2>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Help</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="sec links">
        <h2>Services</h2>
        <ul>
          <li><a routerLink="/services">Basic Website</a></li>
          <li><a routerLink="/services">E-commerce</a></li>
          <li><a routerLink="/services">Custom Web Application</a></li>
          <li><a routerLink="/contact">Other</a></li>
        </ul>
      </div>
      <div class="sec contact">
        <h2>Contact Us</h2>
        <ul class="info">
          <li>
            <span><i class="fa-solid fa-phone"></i></span><p><a href="tel:+54 351 683 4076">+54 351 683 4076</a></p>
          </li>
          <li>
            <span><i class="fa-solid fa-envelope"></i></span><p><a href="mailto:braianoviedo@gmail.com">braianoviedo@gmail.com</a></p>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <div class="copy">
    <p>Copyright 2023 Portfolio. All Rights Reserved</p>
  </div>
</div>