.body{
  display: grid;
  justify-content:center;
  align-items: end;

  footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #fff;

    .container{
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;
      gap: 20px;

      .sec h2{
        font-size: 1.5em;
        position: relative;
        color: #333;
        font-weight: 600;
        margin-bottom: 15px;
      }

      .sec p{
        color: #555;
      }

      .sci{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(5, 50px);

        li a{
          display: inline-block;
          width: 36px;
          height: 36px;
          background: #333;
          display: grid;
          justify-content: center;
          align-content: center;

          i{
            color: #fff;
            font-size: 20px;
          }
        }
      }

      .links{
        position: relative;

        ul li a{
          color: #555;
          text-decoration: none;
          margin-bottom: 10px;
          display: inline-block;
        }
      }

      .contact .info{
        position: relative;

        li{
          display: grid;
          grid-template-columns:30px 1fr;
          margin-bottom: 10px;

          span{
            color: #555;
            font-size: 20px;
            gap: 10px;
          }

          a{
            text-decoration: none;
            color: #555;
          }
        }
      }
    }
  }

  .copy{
    width: 100%;
    background-color: #fff;
    padding: 20px 100px 30px;
    text-align: center;
    color: #555;
    border: 1px solid rgba(0, 0, 0, .15);
  }
  
  @media (max-width: 991px){
    footer{
      padding: 40px;
  
      .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }
    }
  
    .copy{
      padding: 20px 40px 30px;
    }
  }

  @media (max-width: 768px){
    footer{
  
      .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
      }
    }
  
    .copy{
      padding: 20px 40px 30px;
    }
  }
}