<div class="menuToggle" [class.active]="enableToggle" (click)="activeToggle()"></div>
<nav class="sidebar" [class.active]="enableToggle">
    <ul>
        <li class="logo" style="--bg:#333;">
            <a routerLink="/">
                <div class="icon"><i class="fa-solid fa-briefcase"></i></div>
                <div class="text">Portfolio</div>
            </a>
        </li>
        <div class="menu-list">
            <li style="--bg:#e91e63;" class="active">
                <a routerLink="/">
                    <div class="icon"><i class="fa-solid fa-house"></i></div>
                    <div class="text">Home</div>
                </a>
            </li>
            <li style="--bg:#ffa117;">
                <a routerLink="/projects">
                    <div class="icon"><i class="fa-solid fa-rocket"></i></div>
                    <div class="text">Projects</div>
                </a>
            </li>
            <li style="--bg:#f44336;">
                <a routerLink="/services">
                    <div class="icon"><i class="fa-solid fa-basket-shopping"></i></div>
                    <div class="text">Services</div>
                </a>
            </li>
            <li style="--bg:#0fc70f;">
                <a routerLink="/contact">
                    <div class="icon"><i class="fa-regular fa-comment"></i></div>
                    <div class="text">Contact</div>
                </a>
            </li>
            <li style="--bg:#2196f3;">
                <a routerLink="/register">
                    <div class="icon"><i class="fa-solid fa-user-plus"></i></div>
                    <div class="text">Register</div>
                </a>
            </li>
            <li style="--bg:#b145e9;">
                <a routerLink="/login">
                    <div class="icon"><i class="fa-solid fa-arrow-right-to-bracket"></i></div>
                    <div class="text">Login</div>
                </a>
            </li>
        </div>
        <div class="bottom">
            <li style="--bg:#333;">
                <a routerLink="/account">
                    <div class="icon">
                        <div class="imgBx">
                            <img src="./assets/portrait.jpg">
                        </div>
                    </div>
                    <div class="text">[nombre]</div>
                </a>
            </li>
            <li style="--bg:#333;">
                <a routerLink="/">
                    <div class="icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></div>
                    <div class="text">Logout</div>
                </a>
            </li>
        </div>
    </ul>
</nav>
<router-outlet></router-outlet>
