<div class="body">
    <div class="container">
        <div class="form singin">
            <h2>Sing In</h2>
            <div class="inputBox">
                <input type="email" name="email" id="email" required>
                <i class="fa-regular fa-envelope"></i>
                <label for="email">email address</label>
            </div>
            <div class="inputBox">
                <input type="password" name="password" id="password" required>
                <i class="fa-solid fa-lock"></i>
                <label for="password">password</label>
            </div>
            <div class="inputBox">
                <input type="submit" value="Login">
            </div>
            <p>Not registered? <a routerLink="/register" class="register">Create an account</a></p>
        </div>
    </div>
</div>