/* src/app/pages/home/home.component.scss */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    min-height: 100vh;
  
    .home-title {
      font-size: 1.5em;
      font-weight: 600;
      color: var(--violet);
    }
    
    p {
      font-size: 1em;
      color: #eee;
      margin-top: 20px;
    }
    
    .home-services {
      margin-top: 40px;
      width: 200px;
      margin: 10px;
      padding: 20px;
      border-radius: 5px;
      background-color: #f3e5f5;
      text-align: center;
    
      .home-services-title {
        font-size: 24px;
        font-weight: bold;
        color: var(--violet);
      }
      
      .home-services-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
      }
      
      
      .service-icon {
        font-size: 48px;
        color: #4a148c;
        margin-bottom: 10px;
      }
      
      .service-title {
        font-size: 20px;
        font-weight: bold;
        color: #333;
      }
      
      .service-description {
        font-size: 16px;
        color: #777;
      }
  }

}
